@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure full viewport for canvas */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#__next {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --neutral-100: hsl(0, 0%, 100%);
  --accent-400: var(--primary-300);

  --secondary-900: hsl(0, 2%, 8%);
  --secondary-800: hsl(0, 2%, 12%);
  --secondary-700: hsl(0, 2%, 16%);
  --secondary-600: hsl(0, 2%, 20%);
  --secondary-500: hsl(0, 2%, 24%);
  --secondary-400: hsl(0, 2%, 28%);
  --secondary-300: hsl(0, 2%, 32%);
  --secondary-200: hsl(0, 2%, 36%);
  --secondary-100: hsl(0, 2%, 40%);

  --text-1: var(--neutral-100);
  --text-2: var(--primary-100);
  --text-3: var(--primary-200);
  --text-4: var(--primary-800);
  --text-5: var(--primary-900);

  --surface-1: var(--primary-900);
  --surface-2: var(--primary-800);
  --surface-3: var(--primary-700);

  --border-1: var(--primary-500); /* top */
  --border-2: var(--primary-600); /* bottom */
}

html,
body {
  background: var(--primary-200);
  overflow-x: hidden;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #545454;
  border-radius: 10px;
}

.glass-card {
  position: relative;
  --border-width: 1px;
  background: radial-gradient(
      circle at 50% 250%,
      rgba(var(--primary-rgb-100), 0.25),
      rgba(var(--primary-rgb-500), 0.15)
    )
    padding-box;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
}

.glass-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(
      rgba(var(--primary-rgb-200), 0.25),
      rgba(var(--primary-rgb-400), 0.2)
    ),
    border-box;
  mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}

.image-circle {
}

.image-circle img {
}

.poppins {
  font-family: var(--font-poppins), sans-serif;
}

.nohemi {
  font-family: "Nohemi", sans-serif;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi/Web-PS/Nohemi-Regular.woff2") format("woff2"),
    url("/fonts/Nohemi/Web-TT/Nohemi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
