@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure full viewport for canvas */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#__next {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --primary-900: hsl(256, 43%, 7%);
  --primary-800: hsl(240, 24%, 13%);
  --primary-700: hsl(243, 26%, 15%);
  --primary-600: hsl(252, 9%, 22%);
  --primary-500: hsl(259, 13%, 28%);
  --primary-400: hsl(254, 22%, 32%);

  --primary-300: hsl(251, 13%, 68%);
  --primary-200: hsl(240, 15%, 76%);
  --primary-100: hsl(240, 21%, 88%);

  --neutral-100: hsl(0, 0%, 100%);

  --accent-400: hsl(93, 60%, 69%);

  --secondary-900: hsl(0, 2%, 8%);
  --secondary-800: hsl(0, 2%, 12%);
  --secondary-700: hsl(0, 2%, 16%);
  --secondary-600: hsl(0, 2%, 20%);
  --secondary-500: hsl(0, 2%, 24%);
  --secondary-400: hsl(0, 2%, 28%);
  --secondary-300: hsl(0, 2%, 32%);
  --secondary-200: hsl(0, 2%, 36%);
  --secondary-100: hsl(0, 2%, 40%);

  --text-1: var(--neutral-100);
  --text-2: var(--primary-100);
  --text-3: var(--primary-200);
  --text-4: var(--primary-800);
  --text-5: var(--primary-900);

  --surface-1: var(--primary-900);
  --surface-2: var(--primary-800);
  --surface-3: var(--primary-700);

  --border-1: var(--primary-500); /* top */
  --border-2: var(--primary-600); /* bottom */
}

html,
body {
  background: var(--primary-200);
  overflow-x: hidden;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #545454;
  border-radius: 10px;
}

.glass-card {
  position: relative;
  --border-width: 1px;
  background: radial-gradient(
      circle at 50% 250%,
      hsl(from var(--primary-100) h s l / 0.25),
      hsl(from var(--primary-500) h s l / 0.15)
    )
    padding-box;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
}

.glass-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(
      hsl(from var(--primary-200) h s l / 0.25),
      hsl(from var(--primary-400) h s l / 0.2)
    ),
    border-box;
  mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}

.image-circle {
}

.image-circle img {
}

.poppins {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi.woff2") format("woff2"),
    url("/fonts/Nohemi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
